<app-mensagem-form></app-mensagem-form>

<div class="card">
    <div class="header bg-primary d-flex">
        <div class="w-100">
            <h2>Grupos Mensagens</h2>
        </div>
    </div>

    <div class="body p-0">
        <div *ngIf="grupos.length == 0" class="p-3">Não existe mensagens para serem exibidas</div>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let item of grupos" (click)="openModal(template, item)">
                <div class=" d-flex justify-content-start">
                    <img class="mr-3 rounded-circle" src="assets/img/user.jpg" height="48" alt="User" />
                    <div class="d-flex w-100 flex-column">
                        <h5 class="d-flex justify-content-start mt-1"><b> {{item.Nome}} </b><small class="ml-auto"> {{item.Hora}} </small></h5>
                        <p class="mb-1 text-justify">{{ item.ListaMensagem[item.ListaMensagem.length - 1].Descricao}}</p>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-body">

        <div class="card">
            <div class="body border-bottom border-list p-3" *ngFor="let item of mensagens">
                <div class="d-flex justify-content-start" *ngIf="usuario.ID != item.UsuarioID">
                    <img class="mr-3 rounded-circle" [src]="item.UsuarioImg" height="38" alt="User" />
                    <div class="d-flex w-100 flex-column">
                        <span class="d-flex justify-content-start"><b>{{item.UsuarioNome}}</b><small class="ml-auto">{{item.Hora}}</small></span>
                        <small class="d-flex justify-content-start text-justify">{{item.Descricao}}</small>
                    </div>
                </div>

                <div class="d-flex flex-row-reverse justify-content-start" *ngIf="usuario.ID == item.UsuarioID">
                    <img class="ml-3 rounded-circle" [src]="item.UsuarioImg" height="38" alt="User" />
                    <div class="d-flex w-100 flex-column">
                        <span class="d-flex justify-content-end"><small class="mr-auto"> {{item.Hora}} </small><b> {{item.UsuarioNome}} </b></span>
                        <small class="d-flex justify-content-end text-justify"> {{item.Descricao}} </small>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="input-group input-group-sm m-0">
                    <input type="text" class="form-control" id="formMsg" placeholder="Escreva sua mensagem aqui ..." aria-label="Recipients username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary d-flex align-items-center btnEnviarMensagem" type="button">
                    <i class="material-icons text-white">send</i>
                    </button></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>